@import "http://fonts.fontstorage.com/import/lato.css";

body{
    margin: 0 auto;
    font-family: Lato;
    }

header{
    margin: 0 auto;
    background: black;
    height: 74px;     

    .container{
        display: block;  
              
        
        .header{
            display: flex;
            justify-content: space-between;   
            align-items: center;
            padding: 16px 18px; 

            .logoimg{
                margin-right: 41px;
            }
        
            .userimg{
                display: none;
            }
        
            .basketimg{
                display: none;
            }
        
            .basketfill {
                position: relative;
                display: none;
            }
        
            .basketfill span {
                display: inline-block;
                width: 19px;
                height: 19px;
                color: white;
                background: #f16d7f;
                border-radius: 50%;
                position: absolute;
                text-align: center;
                right: -8px;
                top: -19px;
                font-family: Lato, sans-serif;
                font-size: 12px;
                line-height: 19px;
            }  
        }
    }
        
     
}

main{
    .mainHead{
        background: #F8F3F4;

        .mainHeader{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column ;
            padding-top: 24px;
            padding-bottom: 46px;
        }

        .mainHeadLeft{
            font-size: 24px;
            line-height: 29px;
            color: #F16D7F;
            margin-bottom: 32px;
        }
        
        .mainHeadRight{
            font-size: 14px;
            line-height: 17px;
            color: #5D5D5D;


            span{color: #F16D7F;}
        }
    }

    .filters{
        padding: 24px 8px 32px 8px;
        font-size: 12px;
        line-height: 14px;
        box-sizing: border-box;

        .filtersContainer{
            display: flex;
            justify-content: space-between;
        }
    
       .filterLeft{
           position: relative;
    
            span{
                display: none;          
                z-index: 2;
                position: relative;
                margin-right: 11px;
            }
    
            img{
                z-index: 2;
                position: relative;
            }
    
            .imgpink{display: none;}
    
            .filterLleftMenu{
                display: none;
                width: 359px;
                position: absolute;
                top: 0;
                left: 0;
                background: #FFFFFF;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                padding: 46px 17px 16px 17px;
                z-index: 1;
                box-sizing: border-box;
    
                .categoriesHead{
                    color: #EF5B70; 
                    padding: 11px;
                    border-left: 5px solid #EF5B70;
                    border-bottom: 1px solid #EBEBEB;
                    margin-bottom: 24px;
                }
                
                nav{
                    display: flex;
                    flex-direction: column;
                    padding-left: 34px;
                }
                nav a{
                    text-decoration : none;
                    font-size: 14px;
                    line-height: 17px;
                    color: #6F6E6E;
                    margin-bottom: 11px;
                }
            }
    
            
       }
    
       .filterRight{
           display: flex;
           justify-content: center;
           align-items: center;
           color: #6F6E6E;
    
           .filterSize{
                margin-left: 24px;
                margin-right: 24px;
           }

           .sizeMenu{
                width: 79px;
                height: 103px;
                background: #FFFFFF;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                padding-top: 7px;
                padding-left: 9px;
                padding-bottom: 11px;
                font-size: 14px;
                color: #6F6E6E;
                position: absolute;
                display: none;
                z-index: 2;
                box-sizing: border-box;
            
                div{
                    margin-bottom: 4px;
                }
            }
        }
        
        .filterSize:hover{
            .sizeMenu{
                display: block;
            }
        }
        .filterLeft:hover{
                span{
                    left: 16px;
                    top: 13px;
                    color: #EF5B70;
                }
                img{
                    display: none;
                }
                .imgpink{
                    display: inline;
                    left: 16px;
                    top: 13px;
                }
                .filterLleftMenu{
                    display: block;
                }
        }
    } 

    .container{
        display: block;
        
        .content{
            display: grid;
            grid-template-rows: 1fr;
            gap: 16px;
            padding: 0 8px;
            
            .item{
                text-align: left ;        
                
                .img{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;            
                }
                
                .image{	
                    object-fit: cover;	
                    width: 100%;
                }
                
                .itemDark{
                    background: rgba(58, 56, 56, 0.86);
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    display: none;
                    justify-content: center;
                    align-items: center;            
                
                    button{
                        display: flex;
                        color:#FFFFFF;
                        border: 1px solid white;
                        align-items: center;
                        justify-content: center;
                        height: 43px;
                        width: 138px;
                        background: none;
                        font-size: 14px;
                
                        .cart{
                            margin-right: 11px;
                            width: 26px;
                            height: 24px;            
                        }
                    }
                }       
                
                .itemText{
                    background: #F8F8F8;
                    padding-left: 17px;
                    padding-right: 28px;
                    padding-bottom: 20px;
                    padding-top: 25px;
                    
                
                    .itemTextHead{
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 16px;
                    }
            
                    .itemTextTxt{
                        margin-top: 12px;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 17px;
                        color: #5D5D5D;
                        
                    }

                    .price{
                        font-size: 16px;
                        line-height: 19px;
                        color: #F16D7F;
                        margin-top: 16px;
                    }
                }
                
                
                
                
            }   

            .blind{
                @extend .item;
                display: none;
            }           

            .item:hover .itemDark{
                display: flex;
            }   
        }
    }

    .subscribe{
        background: url(images/subscribe/back.png) no-repeat;
        background-size: cover;
        padding-top: 64px;
        padding-bottom: 109px;

         .subleft{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            padding-left: 20px;
            padding-right: 20px;

            .photo{
                width: 92px;
                height: 92px;
            }

            .sublefttext{
                font-size: 18px; 
                line-height: 23px;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 59px;
                max-width: 335px;

                .sublefttext span{
                    font-style: italic;
                }
            }
        }        
    
        .subright{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .subhead{
                font-weight: 700; 
                font-size: 24px;
                line-height: 20px;
                text-align: center;
            }

            .subRightTxt{
                font-size: 14px;
                line-height: 8px;
                text-align: center;
                margin-top: 8px;
                margin-bottom: 22px;
            }

            form input{
                height: 47px;
                background: #E1E1E1;
                border: none;
                padding-left: 21px;
                float: left;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                padding: 6px 21px;
                box-sizing: border-box;
            }
            form button{
                height: 47px;
                background: #F16D7F;
                border: none;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                color: white;
                font-size: 14px;
                padding: 6px 15px;
            }    
        }
    }    
}

footer{
    background: #222224;
    color: white;
    
    .container{
            display: block;

            .footer{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column-reverse;
                padding-top: 43px;
                padding-bottom: 24px;
            
            }
            
            .buttons{
                width: 149px;
                display: grid;
                gap: 8px;
                grid-template-columns: repeat(4, 1fr);
                margin-bottom: 40px;
            }
            .buttons div{
                height: 32px;
                width: 32px;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .buttons div:hover {
                background: #F16D7F;
        
            }
            
            .rights{
                font-size: 16px;
            }
    }
}

@media (min-width:768px){

    .container{
        margin: 0 auto;
        
        display: flex;
    }

    header .container .header{
        .headleft{
            padding-left: 32px;
        }

        .headright{
            padding-right: 42px;
        }

        .userimg{
            display: inline;
            margin-left: 25px;
        }

        .basketimg{
            display: inline;
            margin-left: 42px;
        }
        .basketfill {
            display: inline;
        }
    }

    .mainHead .container .mainHeader{
        flex-direction: row;
        justify-content: space-between;
        padding: 60px 16px;

        .mainHeadLeft{margin: 0;}
    }

    .filters{
        padding-bottom: 40px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 14px;
        line-height: 17px;
   
        .filtersContainer .filterLeft{

            span{
                display: inline;
                font-weight: 600;
            }

            img{
                width: 15px;
                height: 10px;
               
            }
        }

        .filterRight{
            font-weight: 400;
        }
    }

    .content{
        grid-template-columns: 1fr 1fr;
        padding: 0 16px;
    }

    footer .container .footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 24px 32px;
    
        .buttons{
           margin: 0;
        }

        }
}

@media (min-width:1140px){

    .filters{
        margin: 0 auto;
        width: 1140px;
        
        .filtersContainer{
            width: 517px; 
        }
    }


    .container{
        margin: 0 auto;
        
        width: 1140px;
        
        

        .content{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    main .container .content .blind{
        display: block;
    }

    .subscribe{
        padding-bottom: 126px;
        padding-top: 97px;
        
    }
    
    .subcontent{
        margin: 0 auto;
    
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
    }
    
    .sublefttext{
        font-size: 20px; 
        }

        .footer{
            width: 1140px;
            padding:24px 0;

            .buttons{
                margin: 0;
            }
        }
}