@import "http://fonts.fontstorage.com/import/lato.css";
body {
  margin: 0 auto;
  font-family: Lato; }

header {
  margin: 0 auto;
  background: black;
  height: 74px; }
  header .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 18px; }
  header .logoimg {
    margin-right: 41px; }
  header .userimg {
    display: none; }
  header .basketimg {
    display: none; }
  header .basketfill {
    position: relative;
    display: none; }
  header .basketfill span {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    background: #f16d7f;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -8px;
    top: -19px;
    font-family: Lato, sans-serif;
    font-size: 12px;
    line-height: 19px; }

main .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  main .container .content {
    display: grid;
    grid-template-rows: 1fr;
    gap: 16px;
    padding: 0 8px; }
    main .container .content .item, main .container .content .blind {
      text-align: left; }
      main .container .content .item .img, main .container .content .blind .img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
      main .container .content .item .image, main .container .content .blind .image {
        object-fit: cover;
        width: 100%; }
      main .container .content .item .itemDark, main .container .content .blind .itemDark {
        background: rgba(58, 56, 56, 0.86);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center; }
        main .container .content .item .itemDark button, main .container .content .blind .itemDark button {
          display: flex;
          color: #FFFFFF;
          border: 1px solid white;
          align-items: center;
          justify-content: center;
          height: 43px;
          width: 138px;
          background: none;
          font-size: 14px; }
          main .container .content .item .itemDark button .cart, main .container .content .blind .itemDark button .cart {
            margin-right: 11px;
            width: 26px;
            height: 24px; }
      main .container .content .item .itemText, main .container .content .blind .itemText {
        background: #F8F8F8;
        padding-left: 17px;
        padding-right: 28px;
        padding-bottom: 20px;
        padding-top: 25px; }
        main .container .content .item .itemText .itemTextHead, main .container .content .blind .itemText .itemTextHead {
          font-weight: 400;
          font-size: 13px;
          line-height: 16px; }
        main .container .content .item .itemText .itemTextTxt, main .container .content .blind .itemText .itemTextTxt {
          margin-top: 12px;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: #5D5D5D; }
        main .container .content .item .itemText .price, main .container .content .blind .itemText .price {
          font-size: 16px;
          line-height: 19px;
          color: #F16D7F;
          margin-top: 16px; }
    main .container .content .blind {
      display: none; }
    main .container .content .item:hover .itemDark, main .container .content .blind:hover .itemDark {
      display: flex; }

@media (min-width: 768px) {
  header .headleft {
    padding-left: 32px; }
  header .headright {
    padding-right: 42px; }
  header .userimg {
    display: inline;
    margin-left: 25px; }
  header .basketimg {
    display: inline;
    margin-left: 42px; }
  header .basketfill {
    display: inline; }

  .content {
    grid-template-columns: 1fr 1fr;
    padding: 0 16px; } }
@media (min-width: 1140px) {
  .container {
    width: 1140px; }

  .content {
    grid-template-columns: 1fr 1fr 1fr; }

  main .container .content .blind {
    display: block; } }

/*# sourceMappingURL=catalog.css.map */
