@import "http://fonts.fontstorage.com/import/lato.css";
body {
  margin: 0 auto;
  font-family: Lato; }

header {
  margin: 0 auto;
  background: black;
  height: 74px; }
  header .container {
    display: block; }
    header .container .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 18px; }
      header .container .header .logoimg {
        margin-right: 41px; }
      header .container .header .userimg {
        display: none; }
      header .container .header .basketimg {
        display: none; }
      header .container .header .basketfill {
        position: relative;
        display: none; }
      header .container .header .basketfill span {
        display: inline-block;
        width: 19px;
        height: 19px;
        color: white;
        background: #f16d7f;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        right: -8px;
        top: -19px;
        font-family: Lato, sans-serif;
        font-size: 12px;
        line-height: 19px; }

main .mainHead {
  background: #F8F3F4; }
  main .mainHead .mainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 46px; }
  main .mainHead .mainHeadLeft {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    margin-bottom: 32px; }
  main .mainHead .mainHeadRight {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D; }
    main .mainHead .mainHeadRight span {
      color: #F16D7F; }
main .filters {
  padding: 24px 8px 32px 8px;
  font-size: 12px;
  line-height: 14px;
  box-sizing: border-box; }
  main .filters .filtersContainer {
    display: flex;
    justify-content: space-between; }
  main .filters .filterLeft {
    position: relative; }
    main .filters .filterLeft span {
      display: none;
      z-index: 2;
      position: relative;
      margin-right: 11px; }
    main .filters .filterLeft img {
      z-index: 2;
      position: relative; }
    main .filters .filterLeft .imgpink {
      display: none; }
    main .filters .filterLeft .filterLleftMenu {
      display: none;
      width: 359px;
      position: absolute;
      top: 0;
      left: 0;
      background: #FFFFFF;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
      padding: 46px 17px 16px 17px;
      z-index: 1;
      box-sizing: border-box; }
      main .filters .filterLeft .filterLleftMenu .categoriesHead {
        color: #EF5B70;
        padding: 11px;
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EBEBEB;
        margin-bottom: 24px; }
      main .filters .filterLeft .filterLleftMenu nav {
        display: flex;
        flex-direction: column;
        padding-left: 34px; }
      main .filters .filterLeft .filterLleftMenu nav a {
        text-decoration: none;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin-bottom: 11px; }
  main .filters .filterRight {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6F6E6E; }
    main .filters .filterRight .filterSize {
      margin-left: 24px;
      margin-right: 24px; }
    main .filters .filterRight .sizeMenu {
      width: 79px;
      height: 103px;
      background: #FFFFFF;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
      padding-top: 7px;
      padding-left: 9px;
      padding-bottom: 11px;
      font-size: 14px;
      color: #6F6E6E;
      position: absolute;
      display: none;
      z-index: 2;
      box-sizing: border-box; }
      main .filters .filterRight .sizeMenu div {
        margin-bottom: 4px; }
  main .filters .filterSize:hover .sizeMenu {
    display: block; }
  main .filters .filterLeft:hover span {
    left: 16px;
    top: 13px;
    color: #EF5B70; }
  main .filters .filterLeft:hover img {
    display: none; }
  main .filters .filterLeft:hover .imgpink {
    display: inline;
    left: 16px;
    top: 13px; }
  main .filters .filterLeft:hover .filterLleftMenu {
    display: block; }
main .container {
  display: block; }
  main .container .content {
    display: grid;
    grid-template-rows: 1fr;
    gap: 16px;
    padding: 0 8px; }
    main .container .content .item, main .container .content .blind {
      text-align: left; }
      main .container .content .item .img, main .container .content .blind .img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
      main .container .content .item .image, main .container .content .blind .image {
        object-fit: cover;
        width: 100%; }
      main .container .content .item .itemDark, main .container .content .blind .itemDark {
        background: rgba(58, 56, 56, 0.86);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center; }
        main .container .content .item .itemDark button, main .container .content .blind .itemDark button {
          display: flex;
          color: #FFFFFF;
          border: 1px solid white;
          align-items: center;
          justify-content: center;
          height: 43px;
          width: 138px;
          background: none;
          font-size: 14px; }
          main .container .content .item .itemDark button .cart, main .container .content .blind .itemDark button .cart {
            margin-right: 11px;
            width: 26px;
            height: 24px; }
      main .container .content .item .itemText, main .container .content .blind .itemText {
        background: #F8F8F8;
        padding-left: 17px;
        padding-right: 28px;
        padding-bottom: 20px;
        padding-top: 25px; }
        main .container .content .item .itemText .itemTextHead, main .container .content .blind .itemText .itemTextHead {
          font-weight: 400;
          font-size: 13px;
          line-height: 16px; }
        main .container .content .item .itemText .itemTextTxt, main .container .content .blind .itemText .itemTextTxt {
          margin-top: 12px;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: #5D5D5D; }
        main .container .content .item .itemText .price, main .container .content .blind .itemText .price {
          font-size: 16px;
          line-height: 19px;
          color: #F16D7F;
          margin-top: 16px; }
    main .container .content .blind {
      display: none; }
    main .container .content .item:hover .itemDark, main .container .content .blind:hover .itemDark {
      display: flex; }
main .paging {
  margin: 0 auto;
  width: 244px;
  height: 44px;
  border: 1px solid #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 49px;
  margin-bottom: 96px; }
  main .paging a {
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
    text-decoration: none; }
  main .paging span {
    color: #C4C4C4; }
main .paging a:hover {
  color: #EF5B70; }

.bb {
  display: flex;
  justify-content: center;
  background: #222224; }

.blackblock {
  padding-top: 48px;
  padding-bottom: 81px;
  padding-left: 14px;
  padding-right: 13px;
  display: grid;
  grid-template-columns: 360px;
  grid-gap: 47px; }

.bbitem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.bbh {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 24px; }

.bbtext {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB; }

.subscribe {
  background: url(images/subscribe/back.png) no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 109px; }
  .subscribe .subleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px; }
    .subscribe .subleft .photo {
      width: 92px;
      height: 92px; }
    .subscribe .subleft .sublefttext {
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 59px;
      max-width: 335px; }
      .subscribe .subleft .sublefttext .sublefttext span {
        font-style: italic; }
  .subscribe .subright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .subscribe .subright .subhead {
      font-weight: 700;
      font-size: 24px;
      line-height: 20px;
      text-align: center; }
    .subscribe .subright .subRightTxt {
      font-size: 14px;
      line-height: 8px;
      text-align: center;
      margin-top: 8px;
      margin-bottom: 22px; }
    .subscribe .subright form input {
      height: 47px;
      background: #E1E1E1;
      border: none;
      padding-left: 21px;
      float: left;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      padding: 6px 21px;
      box-sizing: border-box; }
    .subscribe .subright form button {
      height: 47px;
      background: #F16D7F;
      border: none;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      color: white;
      font-size: 14px;
      padding: 6px 15px; }

footer {
  background: #222224;
  color: white; }
  footer .container {
    display: block; }
    footer .container .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      padding-top: 43px;
      padding-bottom: 24px; }
    footer .container .buttons {
      width: 149px;
      display: grid;
      gap: 8px;
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 40px; }
    footer .container .buttons div {
      height: 32px;
      width: 32px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center; }
    footer .container .buttons div:hover {
      background: #F16D7F; }
    footer .container .rights {
      font-size: 16px; }

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    display: flex; }

  header .container .header .headleft {
    padding-left: 32px; }
  header .container .header .headright {
    padding-right: 42px; }
  header .container .header .userimg {
    display: inline;
    margin-left: 25px; }
  header .container .header .basketimg {
    display: inline;
    margin-left: 42px; }
  header .container .header .basketfill {
    display: inline; }

  .mainHead .container .mainHeader {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 16px; }
    .mainHead .container .mainHeader .mainHeadLeft {
      margin: 0; }

  .filters {
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 17px; }
    .filters .filtersContainer .filterLeft span {
      display: inline;
      font-weight: 600; }
    .filters .filtersContainer .filterLeft img {
      width: 15px;
      height: 10px; }
    .filters .filterRight {
      font-weight: 400; }

  .content {
    grid-template-columns: 1fr 1fr;
    padding: 0 16px; }

  .blackblock {
    padding-bottom: 64px;
    padding-left: 204px;
    padding-right: 204px; }

  footer .container .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 32px; }
    footer .container .footer .buttons {
      margin: 0; } }
@media (min-width: 1140px) {
  .filters {
    margin: 0 auto;
    width: 1140px; }
    .filters .filtersContainer {
      width: 517px; }

  .container {
    margin: 0 auto;
    width: 1140px; }
    .container .content {
      grid-template-columns: 1fr 1fr 1fr; }

  main .container .content .blind {
    display: block; }

  .blackblock {
    width: 1140px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 104px;
    padding-bottom: 104px;
    grid-gap: 30px; }

  .subscribe {
    padding-bottom: 126px;
    padding-top: 97px; }

  .subcontent {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between; }

  .sublefttext {
    font-size: 20px; }

  .footer {
    width: 1140px;
    padding: 24px 0; }
    .footer .buttons {
      margin: 0; } }

/*# sourceMappingURL=catalog.css.map */
