main {
  margin: 0 auto; }

.productPhoto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 85px;
  padding-bottom: 85px;
  border: 1px solid #EAEAEA;
  background: #F7F7F7; }
  .productPhoto img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .productPhoto .leftArrow,
  .productPhoto .rightArrow {
    height: 47px;
    width: 47px;
    background: #2A2A2A26;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
    .productPhoto .leftArrow .blind,
    .productPhoto .rightArrow .blind {
      display: none;
      z-index: 2; }
  .productPhoto .leftArrow:hover .blind,
  .productPhoto .rightArrow:hover .blind {
    display: block; }
  .productPhoto .leftArrow:hover .vision,
  .productPhoto .rightArrow:hover .vision {
    display: none; }
  .productPhoto .rightArrow {
    right: 0; }

.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 24px 65px 24px;
  border: 1px solid #EAEAEA; }
  .collection h3 {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-bottom: 12px;
    margin-top: 0; }
  .collection .pinkLine {
    width: 63px;
    height: 3px;
    background: #EF5B70; }
  .collection h2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-top: 12px;
    margin-bottom: 14px; }
  .collection p {
    font-size: 14px;
    line-height: 20px;
    color: #5E5E5E;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 32px; }
  .collection span {
    font-size: 24px;
    line-height: 34px;
    color: #EF5B70;
    margin-bottom: 32px; }
  .collection .greyLine {
    width: 175px;
    border: 1px solid #EAEAEA;
    margin-bottom: 50px; }
  .collection .filters {
    display: flex;
    justify-content: space-between;
    width: 304px;
    margin-bottom: 49px; }
    .collection .filters span {
      font-size: 10px;
      line-height: 12px;
      color: #6F6E6E;
      margin-right: 10px; }
  .collection .button {
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14px 56px 8px 24px;
    box-sizing: border-box; }
    .collection .button img {
      width: 26px;
      height: 24px; }

.other {
  display: grid;
  grid-template-rows: 1fr;
  gap: 16px;
  padding: 0 8px; }
  .other .item, .other .blind {
    text-align: left; }
    .other .item .img, .other .blind .img {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
    .other .item .image, .other .blind .image {
      object-fit: cover;
      width: 100%; }
    .other .item .itemText, .other .blind .itemText {
      background: #F8F8F8;
      padding-left: 17px;
      padding-right: 28px;
      padding-bottom: 20px;
      padding-top: 25px; }
      .other .item .itemText .itemTextHead, .other .blind .itemText .itemTextHead {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px; }
      .other .item .itemText .itemTextTxt, .other .blind .itemText .itemTextTxt {
        margin-top: 12px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D; }
      .other .item .itemText .price, .other .blind .itemText .price {
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
        margin-top: 16px; }
  .other .blind {
    display: none; }

@media (min-width: 768px) {
  .productPhoto {
    padding-top: 30px;
    padding-bottom: 28px; }

  .collection {
    padding: 64px 107px 65px 107px; }
    .collection p {
      margin-top: 34px; }
    .collection span {
      margin-bottom: 65px; }
    .collection .greyLine {
      margin-bottom: 65px; }
    .collection .filters {
      width: 373px; }
      .collection .filters span {
        font-size: 14px;
        line-height: 17px; }

  .other {
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    padding: 0 16px; } }
@media (min-width: 1140px) {
  .photo {
    padding-top: 10px;
    padding-bottom: 41px; }

  .collection {
    margin: 0 auto;
    width: 1140px;
    padding: 65px 294px 65px 292px;
    box-sizing: border-box; }

  .other {
    width: 1140px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0; }
    .other .blind {
      display: block; } }

/*# sourceMappingURL=product.css.map */
